*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    background-color: rgb(2, 190, 253);
}


#cambioColore{
    background-color: blue;
    height: 150px;
    width: 150px;
    color: white;
}
#daInserire{
    background-color: blueviolet;
    height: 150px;
    width: 150px;
    color: rgb(253, 253, 253);
    
}
.classeAggiunta{
    color: blueviolet;

}

#listaEvidenziata :hover{
    background-color: rgb(253, 253, 253);
    color: blueviolet;
    font-size: medium;
    cursor: pointer;
}
a{
    text-decoration: none;
    
}
ul{
    list-style-type: none;
}

#frutta{
    flex-direction: column;
}
#carosello{
    display: flex;
    flex-direction: row;
}
#immagini{
    overflow:hidden;
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: row;
}
.slide { 
    padding: 30px 30px;
    
    height: 110px;
    width: 110px;
  }
  
#scritta{
    transition: all 1s ease-in-out;
  }
  .transition{
    opacity: 0;
   
  }